<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MarketScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MarketScanner.Properties.Settings>
            <setting name="MyMarketLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MyWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyWindowSize" serializeAs="String">
                <value>990, 740</value>
            </setting>
            <setting name="MyWindowLoc" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="MySettingsUpgradeToNewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyLoadLogsOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyLogsDateFilterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyLogsDateFilter" serializeAs="String">
                <value>2005-02-24</value>
            </setting>
            <setting name="MinMarketQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinSystemSecurity" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsMarketBrowserClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadConquerableStationsFromApi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAllAvailableMarketItemsInTreeView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreExpiredOrders" serializeAs="String">
                <value>False</value>
            </setting>
        </MarketScanner.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
